.main-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-header{
    width: 70%;
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}
.user-photo-container{
    width: 30%;
    display: flex;
    justify-content: center;
}
.user-photo {
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.divider {
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 70%;
    margin-bottom: 2%;
    margin-top: 2%;
}
.user-data{
    display: flex;
    flex-direction: column;
    width: inherit;
}
.profile-name{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.first-name{
    margin-right: 17px;
    white-space: nowrap;
}

.user-stats{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    font-size: 17px;
    font-weight: 500;
    color: black;
}

.edit-profile {
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: left;
    align-items: flex-end;
}

.edit_button {
    background-color: white;
    border: none;
    color: var(--select-theme);
    margin-right: 2%;
}

.edit_button:hover {
    background-color: var(--select-theme);
    color: white;
    border-radius: 25px;
}

.padding-icon{
    padding: 8px;
}

.margin-right-icon{
    margin-right: 5px;
}

.follow{
    display: flex;
    justify-content: end;
    width: inherit;
}

.follow-btn{
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    color: white;
    border: solid;
    background-color: var(--select-theme);
    border-color: var(--select-theme);
    height: 40px;
    padding: 15px;
    text-transform: none;
    white-space:nowrap;
}

.user-data-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divider-profile{
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 70%;
}

.user-recipes{
    height: 0;
    width: 70%;
}

.admin-icon{
    color: var(--select-theme);
}

.follows-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    padding: 2%
}

.follows-photo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.margin-right-info{
    margin-right: 2% !important;
    margin-left: 10px;
}

.users-line {
    width: 95%;
    border: 0;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}


.margin-bottom {
    margin-bottom: 5%;
}

.modal-title{
    font-size: 17px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;

}

.followers-modal{
    width: 30%;
}

.a-black{
    color:black;
}

.no-recipes{
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    margin-top: 15%;
}

.user-btn-container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logout-btn{
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 20px;
    color: white;
    background-color: var(--select-theme);
    border-color: var(--select-theme);
    height: 40px;
    padding: 15px;
    text-transform: none;
    width: fit-content;
}

.logout-btn-pos{
    display: flex;
    justify-content: center;
}

.logout-txt{
    white-space:nowrap;
}

.user-name-follow-container{
    display: flex;
    align-items: end;
    justify-content: space-between;
}


.more-form {
    display: flex;
    justify-content: center;
}

.logout-icon{
    padding: 0;
    padding-right: 3%
}